.slideMainStyling {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexSlide {
    width: fit-content;
    height: auto;
    margin: auto;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}