#main-slide {
    img {
        height: 54vh;
        position: relative;
        top: -3.1vh;
    }
}

#preview-slide {
    img {
        height: 7vh;
        position: relative;
        bottom: 56vh;
        left: -15.7vh;
    }
}