* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
}

main {
    z-index: 10;
    position: relative;
    background-image: url('../../assets/iPhone-mokup.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#main-slide {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 60vh;
        position: relative;
        top: -3.3vh;
    }
}