* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 90vh;
}

body {
    background-color: #0f0f0f;
}

main {
    z-index: 10;
    position: relative;
    background-image: url('../../assets/iPhone-mokup.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


#main-slide {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 54vh;
        position: relative;
        top: -3.1vh;
    }
}

#slide-indicators {
    width: fit-content;
    height: auto;
    margin: auto;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .indicator {
        width: 8vh;
        height: 0.2vh;
        margin-right: 0.5rem;
        border-radius: 1rem;
        background-color: gray;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 0.2vh;
            background-color: #fff;
            width: 50%;
        }
    }
}